.MInput {
  @apply relative;

  &__field {
    @apply w-full px-6 py-4 text-sm;
    @apply rounded-md border border-gray-100;
    @apply text-secondary;
    transition: 0.1s;

    &:focus {
      @apply rounded-sm border border-primary;
      @apply outline-none;
    }

    &:focus ~ .MInput__label,
    &:not(:focus):valid ~ .MInput__label {
      @apply bg-white px-2 text-xs;
      top: -6px;
    }

    &:focus ~ .MInput__label {
      @apply text-primary;
    }
  }

  &__label {
    @apply absolute text-gray-200;
    transition: 0.1s;
    top: calc(0.75rem + 2px);
    left: calc(1rem + 2px);
  }
}
