.MInput {
  @apply relative;

  &__field {
    @apply w-full py-3 pl-6 pr-8;
    @apply rounded-xl border border-gray-300;
    @apply bg-transparent text-secondary;
    @apply dark:text-white;
    &:focus {
      @apply rounded-md border border-primary;
      @apply outline-none;
      transition: 0.1s;
    }

    &:focus ~ .MInput__label,
    &:not(:focus):not(:placeholder-shown) ~ .MInput__label {
      @apply bg-transparent px-1;
      display: block;
      transform: scale(0.75) translate(-20px, -45px);
    }

    &:focus ~ .MInput__label {
      @apply text-primary;
    }

    &--invalid {
      @apply border-danger;
    }
  }

  &__label {
    @apply pointer-events-none absolute left-6 top-3 text-gray-300;
    @apply bg-transparent;
    transition: transform 0.1s;

    &--required {
      &::after {
        @apply inline-block text-xs;
        content: '*';
        transform: translateY(-5px);
      }
    }
  }

  &__icon {
    @apply absolute right-3 top-4 h-5 w-5;
    @apply cursor-pointer;
    svg {
      @apply h-full w-full;
    }
  }

  &__validation {
    @apply absolute right-2 text-xs text-danger;
    bottom: -17px;
  }
}
