.MInput {
  @apply relative;

  &__field {
    @apply w-full px-6 py-3;
    @apply rounded-xl border border-gray-300;
    @apply text-secondary;
    transition: 0.1s;

    &:focus {
      @apply rounded-md border border-primary;
      @apply outline-none;
    }

    &:focus ~ .MInput__label,
    &:not(:focus):not(:placeholder-shown) ~ .MInput__label {
      @apply bg-white px-1;
      display: block;
      transform: scale(0.75) translateY(-31px);
    }

    &:focus ~ .MInput__label {
      @apply text-primary;
    }
  }

  &__label {
    @apply absolute left-6 top-3 text-gray-300;
    transition-property: transform;
    transition: 0.1s;
  }
}
