@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root[class='dark'] .glass {
    @apply border border-gray-500/50 bg-base/90 shadow-md;
    backdrop-filter: blur(2px);
  }
}

@layer base {
  :root {
    --color-primary: 32 172 137;
    --color-primary-300: 44 202 169;
    --color-primary-700: 26 140 111;
    --color-secondary: 41 61 69;
    --color-base: 255 255 254;
    --color-base-400: 255 255 255;
    --color-base-800: 49 49 49;
    --color-info: 20 163 222;
    --color-success: 32 172 137;
    --color-warning: 247 142 22;
    --color-danger: 247 72 102;
    --color-accent: 236 126 247;
    --color-neutral: 196 196 196;
  }

  :root[class='dark'] {
    --color-primary: 127 90 240;
    --color-primary-300: 161 141 248;
    --color-primary-700: 107 74 216;
    --color-secondary: 41 61 69;
    --color-base: 22 22 26;
    --color-base-400: 36 38 41;

    --color-base-800: 49 49 49;
    --color-info: 20 163 222;
    --color-success: 32 172 137;
    --color-warning: 247 142 22;
    --color-danger: 247 72 102;
    --color-accent: 236 126 247;
    --color-neutral: 196 196 196;
  }
}

html {
  @apply bg-base;
  @apply dark:text-white;
}

body {
  @apply min-h-screen;
}

.backgroundPattern {
  background: url('./assets/bg_light.png') repeat;
  background-size: 20rem;
  transition: background-image 0.3s ease-out;
}

:root[class='dark'] .backgroundPattern {
  background: url('./assets/bg_dark.png') repeat;
  background-size: 23rem;
}
